main {
  //display: flex;
}

.title {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-content: center;
}

.title h1 {
  line-height: 76px;
  //max-width: 650px;
}

.title h1, h3 {
  max-width: 600px;
}

.title p {
  width: 440px;
  height: 85px;
  font-weight: 500;
  line-height: 17px;
  top: 205px;
}

.subtitle {
  max-width: 390px;
}